{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">
    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/header__back.svg" alt="header__back" width="24px" height="24px">
        </button>
        <button class="button">
            <img src="/img/header__avatar.png" alt="header__avatar" width="24px" height="24px">
        </button>
    </header>


    <div class="choice">
        <h1 class="title">Коммьюніті</h1>
        <div class="choice__option button choice__option--1">
            База знань
        </div>
        <div class="choice__option button choice__option--2 ">
            Інформація
        </div>
    </div>

    <main class="post__list">


        <img src="/img/communitie.png" alt="communitie" class="post button">


        <div class="post button">
            <div class="post__header">
                Що таке база знань?
            </div>
            <p class="post__info">База знань - база даних, що містить правила виведення та інформацію про людський
                досвід і знання в деякій предметній галузі. У системах, що самонавчаються, база знань також містить
                інформацію, що є результатом вирішення попередніх завдань.</p>
        </div>

        <div class="post button button--guide">
            Перейти до ком'юніті у Телеграм
        </div>
    </main> --}}
</div>
{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}